/* Switch */
.switch {
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .dot {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-light-txt);
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    transition: transform 300ms, background-color 300ms;
}

.switch .dot.big {
    width: 1.5rem;
    height: 1.5rem;
}

.switch .bg {
    background-color: var(--light-light-bg);
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    transition: background-color 300ms;
}

.switch .bg.big {
    width: 3.5rem;
    height: 2rem;
}

.switch input:checked~.dot {
    transform: translateX(100%);
}

.switch input:checked~.dot.primary {
    background-color: var(--primary-light-bg);
}

.switch input:checked~.bg {
    background-color: var(--switch-checked-light-bg);
}

/* Dark mode */
.dark .switch .dot {
    background-color: var(--light-dark-txt);
}

.dark .switch .bg {
    background-color: var(--light-dark-bg);
}

.dark .switch input:checked~.dot {
    background-color: var(--switch-checked-dark-txt);
}

.dark .switch input:checked~.bg {
    background-color: var(--switch-checked-dark-bg);
}